<%- model_class = Team -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:owners) %></th>
      <th><%= model_class.human_attribute_name(:points_for) %></th>
      <th><%= model_class.human_attribute_name(:points_against) %></th>
      <th><%= model_class.human_attribute_name(:wins) %></th>
      <th><%= model_class.human_attribute_name(:losses) %></th>
      <th><%= model_class.human_attribute_name(:ties) %></th>
      <th><%= model_class.human_attribute_name(:efficiency) %></th>
      <th><%= model_class.human_attribute_name(:current_streak) %></th>
      <th><%= model_class.human_attribute_name(:best_streak) %></th>
      <th><%= model_class.human_attribute_name(:post_wins) %></th>
      <th><%= model_class.human_attribute_name(:post_losses) %></th>
      <th><%= model_class.human_attribute_name(:highest_score) %></th>
      <th><%= model_class.human_attribute_name(:lowest_score) %></th>
      <th><%= model_class.human_attribute_name(:blowouts) %></th>
      <th><%= model_class.human_attribute_name(:top_gm) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= link_to team.id, team_path(team) %></td>
        <td><%= team.name %></td>
        <td><%= team.owners %></td>
        <td><%= team.points_for %></td>
        <td><%= team.points_against %></td>
        <td><%= team.wins %></td>
        <td><%= team.losses %></td>
        <td><%= team.ties %></td>
        <td><%= team.efficiency %></td>
        <td><%= team.current_streak %></td>
        <td><%= team.best_streak %></td>
        <td><%= team.post_wins %></td>
        <td><%= team.post_losses %></td>
        <td><%= team.highest_score %></td>
        <td><%= team.lowest_score %></td>
        <td><%= team.blowouts %></td>
        <td><%= team.top_gm %></td>
        <td><%=l team.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_team_path(team), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      team_path(team),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_team_path,
            :class => 'btn btn-primary' %>
