<%- model_class = Team -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @team.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:owners) %>:</strong></dt>
  <dd><%= @team.owners %></dd>
  <dt><strong><%= model_class.human_attribute_name(:points_for) %>:</strong></dt>
  <dd><%= @team.points_for %></dd>
  <dt><strong><%= model_class.human_attribute_name(:points_against) %>:</strong></dt>
  <dd><%= @team.points_against %></dd>
  <dt><strong><%= model_class.human_attribute_name(:wins) %>:</strong></dt>
  <dd><%= @team.wins %></dd>
  <dt><strong><%= model_class.human_attribute_name(:losses) %>:</strong></dt>
  <dd><%= @team.losses %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ties) %>:</strong></dt>
  <dd><%= @team.ties %></dd>
  <dt><strong><%= model_class.human_attribute_name(:efficiency) %>:</strong></dt>
  <dd><%= @team.efficiency %></dd>
  <dt><strong><%= model_class.human_attribute_name(:current_streak) %>:</strong></dt>
  <dd><%= @team.current_streak %></dd>
  <dt><strong><%= model_class.human_attribute_name(:best_streak) %>:</strong></dt>
  <dd><%= @team.best_streak %></dd>
  <dt><strong><%= model_class.human_attribute_name(:post_wins) %>:</strong></dt>
  <dd><%= @team.post_wins %></dd>
  <dt><strong><%= model_class.human_attribute_name(:post_losses) %>:</strong></dt>
  <dd><%= @team.post_losses %></dd>
  <dt><strong><%= model_class.human_attribute_name(:highest_score) %>:</strong></dt>
  <dd><%= @team.highest_score %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lowest_score) %>:</strong></dt>
  <dd><%= @team.lowest_score %></dd>
  <dt><strong><%= model_class.human_attribute_name(:blowouts) %>:</strong></dt>
  <dd><%= @team.blowouts %></dd>
  <dt><strong><%= model_class.human_attribute_name(:top_gm) %>:</strong></dt>
  <dd><%= @team.top_gm %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              teams_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_team_path(@team), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              team_path(@team),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
