
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('http://i.imgur.com/X2urZpm.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1><%= @team.name %></h1>
                    <h2 class="subheading"><%= @team.owners %></h2>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h2 class="section-header">All Time Stats</h2>
            <div class="col-xs-4">
              <div class="panel panel-default">
                <div class="panel-body text-center">
                  <h3>Record</h3>
                  <%= @team.record[0] %>-<%= @team.record[1] %>-<%= @team.record[2] %>
                </div>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="panel panel-default">
                <div class="panel-body text-center">
                  <h3>All Play</h3>
                  <%= @team.all_play_by_season(2015)[0] %>-<%= @team.all_play_by_season(2015)[1] %>-<%= @team.all_play_by_season(2015)[2] %>
                </div>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="panel panel-default">
                <div class="panel-body text-center">
                  <h3>Efficiency</h3>
                  <%= @team.total_efficiency %>%
                </div>
              </div>
            </div>
          </div>
      </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <h2 class="section-header">2015 Stats</h2>
              <div class="col-xs-4">
                <div class="panel panel-default">
                  <div class="panel-body text-center">
                    <h3>Power Rank</h3>
                    <%= @team.ranks.last.rank %>
                  </div>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="panel panel-default">
                  <div class="panel-body text-center">
                    <h3>All Play</h3>
                    <%= @team.all_play_by_season(2015)[0] %>-<%= @team.all_play_by_season(2015)[1] %>-<%= @team.all_play_by_season(2015)[2] %>
                  </div>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="panel panel-default">
                  <div class="panel-body text-center">
                    <h3>Efficiency</h3>
                    <%= @team.season_efficiency(2015) %>%
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</article>